body{
	margin: 0;
	padding: 0;
	background: url("library.jpg");
	background-size: 2000px 1500px;
	background-position: center;
    text-align: center;
	font-family: sans-serif;
}
.contact-title{
    margin-top: 100px;
    text-transform: uppercase;
}
h1{
    margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 32px;
    color: #fff;
}
.form{
    margin-top: 50px;
}
.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
}
.contact-form input[type="text"], input[type="email"], input[type="message"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.contact-form input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #222;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
    text-align: center;
}