body{
	margin: 0;
	padding: 0;
	background: url("library.jpg");
	background-size: 2000px 1500px;
	background-position: center;
	font-family: sans-serif;
}
.login{
	width: 420px;
	height: 320px;
	background: transparent;
	color: white;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
}
h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 32px;
}
.login p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.login input{
	width: 100%;
	margin-bottom: 30px;
}
.login input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 2px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.login input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #222;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}
.login input[type="submit"]:hover{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}
.login a{
	text-decoration: none;
	font-size: 12px;
	line-height: 40px;
	color: grey;
}
.login a:hover{
	color: #ffc107;
}
