*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient( to right,#9c27b0,#8ecdff);

}

nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display:flex;
    align-items: center;
}

.logo{
    flex-basis: 20%;

}

.logo img{
    width: 50px;
}

#heading{
    font-family:cursive;
    color:darkorchid;
}

.nav-links{
    flex: 1;
    text-align: left;
}

.nav-links ul li{
    list-style: none;
    display:inline-block;
    margin: 0 20px;

}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
}

.content{
    width: 100px;

    height: 1000px;
    position:absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
}

#circle{
    width: 1000px;
    height: 1000px;
    position:absolute;
    top: 0;
    left: 0;
    border-radius:  50%;
    transform: rotate(0deg);
    transition: 1s;

}

.feature{
    position: absolute;
    color:white;
}

.one{
    top: 450px;
    right: 50px;
}

.two{
    top:150px;
    left:350px;
    transform: rotate(-90deg);

}

.three{
    bottom:450px;
    left: 50px;
    transform: rotate(-180deg);
}

.four{
    bottom: 150px;
    right: 350px;
    transform: rotate(-270deg);

}

.pic{
    width: 300px;
    position:absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
    z-index:1;
}

.controls{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;

}

.controls h3{
    margin: 15px 0;
    color: #fff;
}

#upbtn{
    width:15px;
    cursor: pointer;
}

#downbtn{
    width: 15px;
    cursor:pointer;
    transform: rotate(180deg);
}

.hide{
    width: 0;
    height: 0;
    border-top: 500px solid white;
    border-right: 500px solid transparent;
    border-bottom: 500px solid white;
    border-left: 500px solid white;
}
.one a{
    color: white;
}
.one a:visited{
    color: white;
}
.one a:hover{
    color: white;
}
.three a{
    color: white;
}
.three a:visited{
    color: white;
}
.three a:hover{
    color: white;
}
.four a{
    color: white;
}
.four a:visited{
    color: white;
}
.four a:hover{
    color: white;
}
.two a{
    color: white;
}
.two a:visited{
    color: white;
}
.two a:hover{
    color: white;
}

