*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background: url(library.jpg);
    background-size: cover;
    color: #fff;
}
.signup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}
.signup h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}
.signup p{
    font-size: 40px;
    margin: 20px 0;
}
.signup input{
    border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 50px;
	color: #fff;
	font-size: 16px;
    width: 100%;
}
.signup button{
    font-size: 30px;
    margin: 20px 0;
    padding: 10px 5px;
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 20px;
    background: #222;
    color: white;
}
